In [52]:
import pandas as pd
import numpy as np

In [6]:
pd?

Type:        module
String form: <module 'pandas' from 'C:\\Users\\bcw12\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
File:        c:\users\bcw12\anaconda3\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [7]:
np?

Type:        module
String form: <module 'numpy' from 'C:\\Users\\bcw12\\anaconda3\\lib\\site-packages\\numpy\\__init__.py'>
File:        c:\users\bcw12\anaconda3\lib\site-packages\numpy\__init__.py
Docstring:
NumPy
=====

Provides
  1. An array object of arbitrary homogeneous items
  2. Fast mathematical operations over arrays
  3. Linear Algebra, Fourier Transforms, Random Number Generation

How to use the documentation
----------------------------
Documentation is available in two forms: docstrings provided
with the code, and a loose standing reference guide, available from
`the NumPy homepage <https://www.scipy.org>`_.

We recommend exploring the docstrings using
`IPython <https://ipython.org>`_, an advanced Python shell with
TAB-completion and introspection capabilities.  See below for further
instructions.

The docstring examples assume that `numpy` has been imported as `np`::

  >>> import numpy as np

Code snippets are indicated by three greater-than signs::

  >>> x = 42
  >>> x = x + 1

Use the built-in ``help`` function to view a function's docstring::

  >>> help(np.sort)
  ... # doctest: +SKIP

For some objects, ``np.info(obj)`` may provide additional help.  This is
particularly true if you see the line "Help on ufunc object:" at the top
of the help() page.  Ufuncs are implemented in C, not Python, for speed.
The native Python help() does not know how to view their help, but our
np.info() function does.

To search for documents containing a keyword, do::

  >>> np.lookfor('keyword')
  ... # doctest: +SKIP

General-purpose documents like a glossary and help on the basic concepts
of numpy are available under the ``doc`` sub-module::

  >>> from numpy import doc
  >>> help(doc)
  ... # doctest: +SKIP

Available subpackages
---------------------
doc
    Topical documentation on broadcasting, indexing, etc.
lib
    Basic functions used by several sub-packages.
random
    Core Random Tools
linalg
    Core Linear Algebra Tools
fft
    Core FFT routines
polynomial
    Polynomial tools
testing
    NumPy testing tools
f2py
    Fortran to Python Interface Generator.
distutils
    Enhancements to distutils with support for
    Fortran compilers support and more.

Utilities
---------
test
    Run numpy unittests
show_config
    Show numpy build configuration
dual
    Overwrite certain functions with high-performance SciPy tools.
    Note: `numpy.dual` is deprecated.  Use the functions from NumPy or Scipy
    directly instead of importing them from `numpy.dual`.
matlib
    Make everything matrices.
__version__
    NumPy version string

Viewing documentation using IPython
-----------------------------------
Start IPython with the NumPy profile (``ipython -p numpy``), which will
import `numpy` under the alias `np`.  Then, use the ``cpaste`` command to
paste examples into the shell.  To see which functions are available in
`numpy`, type ``np.<TAB>`` (where ``<TAB>`` refers to the TAB key), or use
``np.*cos*?<ENTER>`` (where ``<ENTER>`` refers to the ENTER key) to narrow
down the list.  To view the docstring for a function, use
``np.cos?<ENTER>`` (to view the docstring) and ``np.cos??<ENTER>`` (to view
the source code).

Copies vs. in-place operation
-----------------------------
Most of the functions in `numpy` return a copy of the array argument
(e.g., `np.sort`).  In-place versions of these functions are often
available as array methods, i.e. ``x = np.array([1,2,3]); x.sort()``.
Exceptions to this rule are documented.

In [9]:
pd.__version__

'1.2.4'

In [11]:
"""
Pandas Object: series
"""
ser=pd.Series([0.25,0.5,0.75,1.0])
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [14]:
arr=ser.values
print(arr)

ind =ser.index
print(ind)
print(ind.values)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)
[0 1 2 3]

In [17]:
#label_based Indexing

ser=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
print(ser)

print(ser['a'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.25

In [20]:
"""
Create a series from a dictionary
"""
#미국의 5개주의 인구수
population_dict={'California':38332521,
                'Texas':26448193,
                'Newyork':19651127,
                'Florida':19552860,
                'Illinois':12882135}

population = pd.Series(population_dict)
print(population)
print(population['California':'Newyork'])

California    38332521
Texas         26448193
Newyork       19651127
Florida       19552860
Illinois      12882135
dtype: int64
California    38332521
Texas         26448193
Newyork       19651127
dtype: int64

In [22]:
"""
Pandas object:Dataframe
"""

area_dict={'California':423967,
                'Texas':695662,
                'Newyork':141297,
                'Florida':170312,
                'Illinois':149995}
area=pd.Series(area_dict)
print(area)

California    423967
Texas         695662
Newyork       141297
Florida       170312
Illinois      149995
dtype: int64

In [28]:
states=pd.DataFrame({'population':population,'area':area})
print(states)
print(states.index)
print(states.columns)

            population    area
California    38332521  423967
Texas         26448193  695662
Newyork       19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'Newyork', 'Florida', 'Illinois'], dtype='object')
Index(['population', 'area'], dtype='object')

In [30]:
print(states['area'])

California    423967
Texas         695662
Newyork       141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [33]:
arr=np.random.rand(3,2)
print(arr)

df=pd.DataFrame(arr,columns=['foo','bar'],index=['a','b','c'])
print(df)

[[0.50863689 0.51564597]
 [0.17547072 0.73688042]
 [0.30138236 0.76600861]]
        foo       bar
a  0.508637  0.515646
b  0.175471  0.736880
c  0.301382  0.766009

In [41]:
ser=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
print(ser)
print(ser['b'])
print(ser[0])
print('a'in ser)#key
print(0.25 in ser)
print(ser.keys())
print(ser.index)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.5
0.25
True
False
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['a', 'b', 'c', 'd'], dtype='object')

In [43]:
ser['e']=1.25
ser['a']=0.125
print(ser)

a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [46]:
print(states['area'])
print(states.area)

states['density']=states['population']/states['area']
print(states)

California    423967
Texas         695662
Newyork       141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
California    423967
Texas         695662
Newyork       141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
Newyork       19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [48]:
states.loc['California':'Newyork']

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
Newyork       19651127  141297  139.076746

In [50]:
states.iloc[1:4]

         population    area     density
Texas      26448193  695662   38.018740
Newyork    19651127  141297  139.076746
Florida    19552860  170312  114.806121

In [51]:
print(states.loc[states.density>100,['population','density']],'\n')

         population     density
Newyork    19651127  139.076746
Florida    19552860  114.806121